
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="adminMain" class="container">

    <div id="productList"></div>
    
    <div id="addProduct"></div>
   
    <div id="updateProduct"></div>
   
    <div id="deleteProduct"></div>

    <div id="categoryList"></div>

    <div id="addCategory"></div>

    <div id="updateCategory"></div>

    <div id="orderList"></div>

    <div id="orderDetails"></div>

</div>
