html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    height: 150px;
    width: 100px;
}

.nav-link:hover {
    background-color: #343a40;
}

#successMessage {
    display: none;
    background-color: #dff0d8;
    border: 1px solid #d0e9c6;
    color: #3c763d;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}